body {
  background-color: #fff;
}

.wp-block {
  max-width: 900px;
}

.wp-block[data-align="wide"] {
  max-width: 1080px;
}

.wp-block[data-align="full"] {
  max-width: none;
}

.wp-block-cover-image,
.wp-block-cover,
.wp-block-group,
.wp-block-group.has-background {
  padding: 30px;
}

.wp-block-cover {
  margin-bottom: 0;
}
