<footer>
  <a href="{{logo_link_href}}">
    <img src="{{logo_img_src}}" alt="{{logo_img_alt}}" style="width: auto; height: 50px;">
  </a>

  <div style="display: flex;">
    <div>
      {{{footer_primary_nav}}}
    </div>

    <div>
      {{{footer_secondary_nav}}}
    </div>

    <div>
      {{{footer_tertiary_nav}}}
    </div>

    <div>
      {{{footer_quaternary_nav}}}
    </div>
  </div>

  <div>
    {{logo_img_alt}} &copy; {{current_year}}
  </div>
</footer>