<header class="main-header" style="display: flex;">

  <div class="main-header__left">
    <a href="{{logo_link_href}}" class="logo__link">
      <img src="{{logo_img_src}}" alt="{{logo_img_alt}}" class="logo" style="width: auto; height: 80px;">
    </a>
  </div>

  <div class="main-header__right">
    {{{main_menu}}}
  </div>

</header>